html, body{
    font-family: 'Heebo', sans-serif;
}

.blog-item h3{
    font-weight: 500;
font-size: 30px;
line-height: 44px;s

/* Dark Color */

color: #21243D;
}
.blog-item .published-date{
    font-weight: 400;
font-size: 20px;
line-height: 29px;

/* Dark Color */

color: #21243D;
}
.blog-item .category{
    font-weight: 300;
font-size: 20px;
line-height: 29px;

/* Light */

color: #8695A4;
}
button { background-color: rgb(243, 202, 22); margin: 10px;
 }